.resize{
    cursor: ew-resize;
}



/* create container context first  */
.container {
    container-type: inline-size;
}
.subelement {
    color: oklch(45.2% 0.31321437166460125 264.052020638055);
}

/* styles applied till parent is greater than 500рх */
@container (max-width: 500px) {
    .subelement {
        color: white;
        background-color: lightpink;
    }
}