.resize{
    cursor: ew-resize;
}



/* create container context first  */
.container {
    container-type: inline-size;
}
.subelement {
    color: blue;
}

/* styles applied till parent is greater than 500рх */
@container (max-width: 500px) {
    .subelement {
        color: white;
        background-color: lightpink;
    }
}