.card {
    filter: grayscale(0%);
    transition: filter 300ms;
}
.card:is(:hover, :focus) {
    filter: grayscale(100%);
}
.highlight {
    background: right / 0% 100% no-repeat
    linear-gradient(oklch(93.24% 0.054 186.17), oklch(93.24% 0.054 186.17));
    transition: background-size 500ms;
}
.highlight:hover {
    background: left / 100% 100% no-repeat
    linear-gradient(oklch(93.24% 0.054 186.17), oklch(93.24% 0.054 186.17));
}

h1:not(:first-of-type){
    padding-top: 2rem;
}