
table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 3em;
}
tr > td:first-child {
    max-width: 7vw;
    text-align: right;
}
tr > td:nth-child(2) {
    max-width: 75vw;
}
tr > th {
    text-transform: capitalize;
}
figure {
    width: 160px;
    height: 105px;
    float: left;
    margin: 0;
    padding: 10px;
}

.card {
    display: block;
    min-height: 120px;
    margin: 3em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 30px 5px oklch(68.3% 0 0);
    -o-box-shadow: 0 0 30px 5px oklch(68.3% 0 0);
    -moz-box-shadow: 0 0 30px 5px oklch(68.3% 0 0);
    -webkit-box-shadow: 0 0 30px 5px oklch(68.3% 0 0);
    max-width: 500px;
}
.card .content {
    display: inline-block;
    max-width: 32ch;
}
samp {
    font-weight: 900;
}
samp > span {
    color: oklch(62.8% 0.25768330773615683 29.2338851923426);
}

.card:has(img){
    border-top: 15px solid oklch(45.2% 0.31321437166460125 264.052020638055);
    display: flex;
    align-items: center;
}


.card.inverted:not(:has(img) ){
    border-top: 15px solid oklch(91.3% 0.233 130.02);
    display: flex;
    align-items: center;
}