p:first-letter {
    initial-letter:  4 3;
    font-size: 60px;
    font-weight: bold;
    margin-right: 1rem;
    padding: .5rem;
    color: oklch(77.1% 0.197 337.13);
    border: 10px solid;
    border-radius: 5rem;
   border-image-slice: 1;
   border-width: 5px;
    border-image-source: linear-gradient(to top, oklch(51.26% 0.221 294.3), oklch(93% 0.185 115.84), oklch(77.1% 0.226 146.54));
 }
 
 p {
    font-size: 30px;
    max-width: 50ch;
 }
