ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    gap: 2.5rem;
    padding: 1rem;
}
.status {
    font-size: 1.5rem;
}


.order-contents {
    align-self: end;
}

.card-container {
    display: grid;
}

.order-card {
    display: grid;
    padding: 2.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.order-card:after {
position: absolute;
top: -1.95rem;
right: -1.95rem;
display: block;
width: 1.5rem;
height: 1.5rem;
padding: 1.5rem;
background-color: oklch(100% 0 0);
border-radius: 100%;
font-size: xx-large;
}

.status > span {
font-weight: 700;
}

.order-contents, .status {
    padding-top: 2rem;
}



/* style queries magic starts here */
.card-container {
  container-name: orders;
}

@container style(--unpaid: true) {
  .order-card {
    background: 
  linear-gradient(
    to top,
    oklch(89.21% 0.196 111.05) 0%,
    oklch(87.48% 0.18893348221316644 108.27146634543439) 0.9%,
    oklch(85.43% 0.18088487322240807 104.56271606237503) 3.6%,
    oklch(83.16% 0.1727952972355218 99.84501082181461) 7.8%,
    oklch(80.73% 0.16551680090241375 94.06186963854998) 13.3%,
    oklch(78.22% 0.15994435029942605 87.31331734080084) 19.9%,
    oklch(75.74% 0.1569293587924205 79.853290626398) 27.4%,
    oklch(73.35% 0.15692251413822955 72.15202214630021) 35.6%,
    oklch(71.13% 0.15986476375769781 64.7734346407652) 44.2%,
    oklch(69.14% 0.165 58.2) 53.1%,
    oklch(67.42% 0.17179572457853176 52.69847138280365) 62.1%,
    oklch(66% 0.17876710232783585 48.353721304765344) 70.8%,
    oklch(64.9% 0.185 45.11) 79.2%,
    oklch(64.1% 0.19 42.9) 87%,
    oklch(63.62% 0.193 41.59) 94%,
    oklch(63.46% 0.19466133311079425 41.1474921953706) 100%
  );
  }
  
  .order-card:after {
    content: '📦';
  }
}

@container style(--paid: true) {
  .order-card {
    background: linear-gradient(
    to bottom,
    oklch(81.32% 0.257 139.13) 0%,
    oklch(80.82% 0.256 139.64) 0.9%,
    oklch(80.24% 0.252 140.39) 3.6%,
    oklch(79.63% 0.246 141.54) 7.8%,
    oklch(79.03% 0.236 143.28) 13.3%,
    oklch(78.47% 0.222 145.84) 19.9%,
    oklch(77.98% 0.204 149.5) 27.4%,
    oklch(77.58% 0.185 154.56) 35.6%,
    oklch(77.29% 0.166 161.33) 44.2%,
    oklch(77.12% 0.15 169.85) 53.1%,
    oklch(77.05% 0.138 179.68) 62.1%,
    oklch(77.05% 0.132 189.79) 70.8%,
    oklch(77.11% 0.13 198.85) 79.2%,
    oklch(77.19% 0.1316961038432716 205.75164821456826) 87%,
    oklch(77.24% 0.1335253524323043 210.05199404846712) 94%,
    oklch(77.27% 0.134 211.53) 100%
  );
  }
  
  .order-card:after {
    content: '🎁';
  }
}
